networks:
  calendar_app_network:
    name: calendar_app_network

services:
  android-emulator:
    container_name: calendar_app_emulator
    image: budtmo/docker-android
    privileged: true 
    ports:
      - "6080:6080"  # noVNC (access via browser)
      - "5554:5554"  # ADB emulator
      - "5555:5555"  # ADB TCP
    environment:
      - DEVICE="Samsung Galaxy S10"
      - EMULATOR_ARGS=-noaudio
      - APPIUM=false
      - WEB_VNC=true
      - AUTO_START=false
    networks:
      - calendar_app_network

  react-native:
    container_name: calendar_app_mobile
    build:
      context: ./frontend/mobile
      dockerfile: Dockerfile
    ports:
      - "8081:8081" # Metro bundler port
    depends_on:
      - android-emulator
    networks:
      - calendar_app_network

  frontend:
    container_name: calendar_app_nginx
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    networks:
      - calendar_app_network
    depends_on:
      - backend

  db:
    image: postgres:latest
    container_name: calendar_app_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: calendar_app
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - calendar_app_network

  backend:
    container_name: calendar_app_backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/calendar_app?sslmode=disable
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    depends_on:
      - db
    networks:
      - calendar_app_network
